extends ./template/layout.pug

block title
  title :: Hospital CATUS ::
block append font
block append css
block append script
block append preloader
block append header
block section 
  include ./include/home.pug
  include ./include/brand.pug
  include ./include/features.pug
  include ./include/business.pug
  include ./include/test.pug
  include ./include/product.pug
  include ./include/call.pug
block append footer 
