//Brand Section
section#brand.brand.fix.roomy-80
  .container
    .row
      .main_brand.text-center
        .col-md-2.col-sm-4.col-xs-6
          .brand_item.sm-m-top-20
            h3 협력브랜드 로고-1
            //- img(src='public/images/cbrand-0.png', alt='협력업체')
        .col-md-2.col-sm-4.col-xs-6
          .brand_item.sm-m-top-20
            img(src='public/images/cbrand-img3.png', alt='')
        .col-md-2.col-sm-4.col-xs-6
          .brand_item.sm-m-top-20
            h3 협력브랜드 로고-3
            //- img(src='public/images/cbrand-0.png', alt='협력업체')
        .col-md-2.col-sm-4.col-xs-6
          .brand_item.sm-m-top-20
            img(src='public/images/cbrand-img4.png', alt='')
        .col-md-2.col-sm-4.col-xs-6
          .brand_item.sm-m-top-20
            h3 협력브랜드 로고-5
            //- img(src='public/images/cbrand-0.png', alt='협력업체')
        .col-md-2.col-sm-4.col-xs-6
          .brand_item.sm-m-top-20
            img(src='public/images/cbrand-img2.png', alt='')
// End off Brand section 