//Business Section
section#business.business.bg-grey.roomy-70
  .container
    .row
      .main_business
        .col-md-6
          .business_slid
            .slid_shap.bg-grey
            .business_items.text-center
              .business_item
                .business_img
                  img(src='public/images/about-img1.jpg', alt='')
              .business_item
                .business_img
                  img(src='public/images/about-img1.jpg', alt='')
              .business_item
                .business_img
                  img(src='public/images/about-img1.jpg', alt='')
        .col-md-6
          .business_item.sm-m-top-50
            h2.text-uppercase
              strong 캐터스
              |는 정형외과와 재활의학과 전문 병원입니다. 
            ul
              li
                i.fa.fa-arrow-circle-right
                | 정형외과 
              li
                i.fa.fa-arrow-circle-right
                | 재활의학과 
            p.m-top-20 Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque eleifend in mi sit amet mattis suspendisse ac ligula volutpat nisl rhoncus sagittis cras suscipit lacus quis erat malesuada lobortis eiam dui magna volutpat commodo eget pretium vitae elit etiam luctus risus urna in malesuada ante convallis.
            .business_btn
              a.btn.btn-default.m-top-20(href='') 진료과목 블로그연결
              a.btn.btn-primary.m-top-20(href='') 무료상담 
// End off Business section 