//Call to  action section
section#action.action.bg-primary.roomy-40
  .container
    .row
      .maine_action
        .col-md-8
          .action_item.text-center
            h2.text-white.text-uppercase 우리병원 정보를 한눈에 확인하세요! 
        .col-md-4
          .action_btn.text-left.sm-text-center
            a.btn.btn-default(href='') 지금 바로 문의하세요. 