//Featured Section
section#features.features
  .container
    .row
      .main_features.fix.roomy-70
        .col-md-4
          .features_item.sm-m-top-30
            .f_item_icon
              i.fa.fa-thumbs-o-up
            .f_item_text
              h3 국내 유일의 최신 엑스레이 
              p Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.
        .col-md-4
          .features_item.sm-m-top-30
            .f_item_icon
              i.fa.fa-tablet
            .f_item_text
              h3 진료예약 앱 출시 
              p Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.
        .col-md-4
          .features_item.sm-m-top-30
            .f_item_icon
              i.fa.fa-sliders
            .f_item_text
              h3 전문병원 응급센터 운영 
              p Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.
    // End off row 
  // End off container 
// End off Featured Section