footer#contact.footer.action-lage.bg-black.p-top-80
  //<div class="action-lage"></div>
  .container
    .row
      .widget_area
        .col-md-3.col-md-offset-3
          .widget_item.widget_about
            h5.text-white 병원정보 
            p.m-top-20 병원에 대한 간략한 정보를 입력하는 곳입니다. 입력하실 내용을 생각하세요!
            .widget_ab_item.m-top-30
              .item_icon
                i.fa.fa-location-arrow
              .widget_ab_item_text
                h6.text-white 주소 
                p 서울특별시 강남구 캐터스빌딩 00동 00층  00호 
            .widget_ab_item.m-top-30
              .item_icon
                i.fa.fa-phone
              .widget_ab_item_text
                h6.text-white 전화번호 :
                p 010-2345-6789
            .widget_ab_item.m-top-30
              .item_icon
                i.fa.fa-envelope-o
              .widget_ab_item_text
                h6.text-white 이메일 :
                p youremail@mail.com
          // End off widget item 
        // End off col-md-3 
        .col-md-3
          .widget_item.widget_newsletter.sm-m-top-50
            h5.text-white 병원소식받기 
            form.form-inline.m-top-30
              .form-group
                input.form-control(type='email', placeholder='Enter you Email')
                button.btn.text-center(type='submit')
                  i.fa.fa-arrow-right
            .widget_brand.m-top-40
              a.text-uppercase(href='') Hospital CATUS 
              p 
               | 환자의 마음을 더 생각하는 병원.
               | 남다른 관심으로 고객님들을 대하겠습니다.
               | 항상 감사합니다. 이 사이트는 템플릿입니다.
            ul.list-inline.m-top-20
              li
                a(href='')
                  i.fa.fa-facebook
              li
                a(href='')
                  i.fa.fa-twitter
              li
                a(href='')
                  i.fa.fa-instagram
              li
                a(href='')
                  i.fa.fa-youtube
          // End off widget item 
        // End off col-md-3 
  .main_footer.fix.bg-mega.text-center.p-top-40.p-bottom-30.m-top-80
    .col-md-12
      p.wow.fadeInRight(data-wow-duration='1s')
        | CATUS with
        | by
        | Made Theme
        br
        | 2018. All Rights Reserved
        br
        | Demo Images:Unsplash