//Home Sections
section#home.home.bg-black.fix
  .overlay
  .container
    .row
      .main_home.text-center
        .col-md-12
          .hello_slid
            .slid_item
              .home_text
                h2.text-white
                  | 최신 의학 기술을 자부하는 
                  strong 캐터스병원
                h1.text-white.shadow-text 팔, 다리 골절엔 캐터스! 
                h3.text-white
                  | 당신의 삶을 찾아드립니다.
              .home_btns.m-top-40
                a.btn.btn-primary.m-top-20(href='') 02-1234-1234 
            // End off slid item 
            .slid_item
              .home_text
                h2.text-white
                  | 정형외과, 재활의학과 전문병원
                  strong  캐터스 
                h1.text-white.shadow-text 실리콘밸리 정형의대 수석교수 
                h3.text-white
                  | 정형외과 전문의학 박사 
                  strong 아담스 정 
              .home_btns.m-top-40
                a.btn.btn-primary.m-top-20(href='') 실시간문의 
            // End off slid item 
            .slid_item
              .home_text
                h2.text-white
                  | 정형외과, 재활의학과 전문병원
                  strong  캐터스 
                h1.text-white.shadow-text 젤리밸리 재활의학대 수석교수 
                h3.text-white
                  | 재활의학과 전문의학 박사 
                  strong 제니 허 
              .home_btns.m-top-40
                a.btn.btn-primary.m-top-20(href='') 실시간문의 
            // End off slid item 
    //End off row
  //End off container 
//End off Home Sections