//product section
section#product.product
  .container
    .main_product.roomy-80
      .head_title.text-center.fix
        h2.text-uppercase 병원 고객 후기 
        h4 고객의 소리를 후기로 담아보았습니다.
      #carousel-example-generic.carousel.slide(data-ride='carousel')
        // Indicators 
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
        // Wrapper for slides 
        .carousel-inner(role='listbox')
          .item.active
            .container
              .row
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img1.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img1.jpg') +
                    .port_caption.m-top-20
                      h5 세밀하게 진료해주셔서 너무 감사해요!! 
                      h6 - 홍길동
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img2.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img2.jpg') +
                    .port_caption.m-top-20
                      h5 따뜻하게 말씀해주셔서 힘이되요! 
                      h6 - 황말똥
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img3.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img3.jpg') +
                    .port_caption.m-top-20
                      h5 후기입력란 
                      h6 - 이름 
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img4.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img4.jpg') +
                    .port_caption.m-top-20
                      h5 후기입력란 
                      h6 - 이름 
          .item
            .container
              .row
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img5.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img5.jpg') +
                    .port_caption.m-top-20
                      h5 세밀하게 진료해주셔서 너무 감사해요!! 
                      h6 - 홍길동
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img6.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img6.jpg') +
                    .port_caption.m-top-20
                      h5 따뜻하게 말씀해주셔서 힘이되요! 
                      h6 - 황말똥
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img7.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img7.jpg') +
                    .port_caption.m-top-20
                      h5 후기입력란 
                      h6 - 이름 
                .col-sm-3
                  .port_item.xs-m-top-30
                    .port_img
                      img(src='public/images/work-img8.jpg', alt='')
                      .port_overlay.text-center
                        a.popup-img(href='public/images/work-img8.jpg') +
                    .port_caption.m-top-20
                      h5 후기입력란 
                      h6 - 이름 
        // Controls 
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          i.fa.fa-angle-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          i.fa.fa-angle-right(aria-hidden='true')
          span.sr-only Next
    // End off row 
  // End off container 
// End off Product section 