//Test section
section#test.test.bg-grey.roomy-60.fix
  .container
    .row
      .main_test.fix
        .col-md-12.col-sm-12.col-xs-12
          .head_title.text-center.fix
            h2.text-uppercase 캐터스 전문의 소개 
            h5 정형외과 및 재활의학과 전문병원 캐터스
        .col-md-6
          .test_item.fix
            .item_img
              img.img-circle(src='public/images/test-img1.jpg', alt='')
              i.fa.fa-quote-left
            .item_text
              h5 아담스 정 
              h6 정형외과 교수 
              p 
                | @ 캐터스대학교 졸업
                br
                | @ 캐터스병원 10년 경력 
        .col-md-6
          .test_item.fix.sm-m-top-30
            .item_img
              img.img-circle(src='public/images/test-img2.jpg', alt='')
              i.fa.fa-quote-left
            .item_text
              h5 제니 허 
              h6 재활의학과 교수 
              p 
                | @ 캐터스대학교 졸업
                br
                | @ 캐터스병원 10년 경력 
// End off test section 